/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.progress-group {
	/* Colors */
	$default_in_progress_background_color: #ffff99;
	$default_darkgrey: #a4a4a4;
	$default_grey: #bbbbbb;
	$default_danger: #f27421;
	/* Sizes */
	$default_borderwidth: 4px;

	&.progress-inprogress {

		&.progress-background, .progress-background, input {
			background-color: $default_in_progress_background_color !important;
		}

		.action-btn {
			border-bottom-color: $default_darkgrey !important;
			background-color: $default_grey !important;

			&:hover {
				border: 0px !important;
				border-bottom: $default_borderwidth solid $default_darkgrey !important;
			}
		}
	}

	&.progress-error {

		&.progress-border, .progress-border {
			border: 2px solid $default_danger !important;
		}

		&.progress-fontcolor, .progress-fontcolor {
			color: $default_danger !important;
		}
	}
}